[Unit]
Description=close the fbcon
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/lib/walnutpi/fbcon_set
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target
