[Unit]
Description=Expand partition size
After=graphical.target

[Service]
Type=oneshot
ExecStart=x11vnc -display :0 -auth guess  -rfbport 5900 -rfbauth  /etc/x11vnc.pwd -capslock -nomodtweak -repeat -forever
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=graphical.target
