[Desktop Entry]
Version=1.1
Type=Application
Name=ts_calibrate
NoDisplay=true
Comment=Touchscreen calibration for tslib
Icon=applications-other
TryExec=ts_calibrate
Exec=ts_calibrate
Actions=
Categories=Utility;
Keywords=touchscreen
