[Desktop Entry]
Version=1.1
Type=Application
Name=Thonny
GenericName=Python IDE
Comment=Python IDE for beginners
Icon=thonny
Exec=/usr/bin/thonny %F
Actions=Edit;
MimeType=text/x-python;
Categories=Development;IDE;
Keywords=programming;education
StartupNotify=true
StartupWMClass=Thonny

[Desktop Action Edit]
Name=Thonny
Exec=/usr/bin/thonny %F
