[Desktop Entry]
Version=1.1
Type=Application
Name=Print Settings
GenericName=Print Settings
NoDisplay=true
Comment=Configure printers
Icon=printer
Exec=system-config-printer
Actions=
Categories=GNOME;GTK;HardwareSettings;Printing;Settings;System;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;
Keywords=Printer;Queue;Print;Paper;Ink;Toner;
StartupNotify=true
