[Desktop Entry]
Version=1.1
Type=Application
Name=Thunar File Manager
GenericName=File Manager
NoDisplay=true
Comment=Browse the filesystem with the file manager
Icon=org.xfce.thunar
Exec=thunar %U
Actions=open-home;open-computer;open-trash;
MimeType=inode/directory;
Categories=Core;FileManager;FileTools;GTK;System;Utility;
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
StartupNotify=true

[Desktop Action open-home]
Name=Thunar File Manager
Exec=thunar %U

[Desktop Action open-computer]
Name=Thunar File Manager
Exec=thunar computer:///

[Desktop Action open-trash]
Name=Thunar File Manager
Exec=thunar trash:///
