[Desktop Entry]
Version=1.1
Type=Application
Name=Vim
GenericName=Text Editor
NoDisplay=true
Comment=Edit text files
Icon=gvim
TryExec=vim
Exec=vim %F
Terminal=true
Actions=
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Categories=TextEditor;Utility;
Keywords=Text;editor;
