[Desktop Entry]
Version=1.1
Type=Application
Name=Mail Reader
NoDisplay=true
Comment=Read your email
Icon=org.xfce.mailreader
OnlyShowIn=XFCE;
Exec=exo-open --launch MailReader %u
Actions=
Categories=Network;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
