[Desktop Entry]
Version=1.1
Type=Application
Name=Run Program...
NoDisplay=true
Comment=Enter a command you want to launch
Icon=org.xfce.appfinder
OnlyShowIn=XFCE;
Exec=xfce4-appfinder --collapsed
Actions=
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Keywords=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
StartupNotify=true
