[Desktop Entry]
Version=1.1
Type=Application
Name=Task Manager
GenericName=Task Manager
Comment=Easy to use application to monitor system resources
Icon=org.xfce.taskmanager
Exec=xfce4-taskmanager
Actions=
Categories=System;
StartupNotify=true
